.campus-list {
  width: 400vw;
}

.campus-list-title {
  text-align: center;
}

.campus-link {
  color: black;
  text-decoration: none;
}

.campus-link:hover {
  text-decoration: underline;
  color: #666666;
}

.campus-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campus-list-cards {
  width: 120px; 
  min-height: 180px;
  margin: 10px 0;
}


.campus-list-container button {
    width: 125px;
    background: #c8b6ff;
    color: #6c3483;
    border: none;
    border-radius: 6px;
    padding: 12px 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.campus-list-container button:hover {
    background: #b8c0ff;
}
