.campus-list {
  width: 100vw;
}

.campus-list-title {
  text-align: center;
}

.campus-link {
  color: black;
  text-decoration: none;
}

.campus-link:hover {
  text-decoration: underline;
  color: #666666;
}

.campus-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campus-list-cards {
  width: 120px; 
  min-height: 180px;
  margin: 10px 0;
}



